<footer class="l-site-footer">
	<div class="l-column">
			<div class="l-site-footer__email">
				<a class="site-footer__email--small" href="mailto:hello@officeofmesker.com?subject=Hey Michael, I was browsing your website and...">Email Me.</a>
				<a class="site-footer__email" href="mailto:hello@officeofmesker.com?subject=Hey Michael, I was browsing your website and...">hello@officeofmesker.com</a>
			</div>
			<div class="l-site-footer__social">
				<a class="site-footer__social-icon" href="http://www.rdio.com/people/meskermichael/">
					{% include icon__rdio.svg %}
				</a>
				<a class="site-footer__social-icon" href="http://instagram.com/michaelmesker/">
					{% include icon__instagram.svg %}
				</a>
				<a class="site-footer__social-icon" href="https://twitter.com/meskermichael">
					{% include icon__twitter.svg %}
				</a>
				<a class="site-footer__social-icon" href="https://dribbble.com/michaelmesker">
					{% include icon__dribbble.svg %}
				</a>
			</div> 			
	</div>
</footer>
