/**
 * @file
 * Style rules for the Post headers.
 */

.post {
  margin-bottom: 380px;  
  @include breakpoint($bp1a) { margin-bottom: 540px; }  
  @include breakpoint($bp2) { margin-bottom: 600px; }
}
.post-content {
  position: relative;
  z-index: 1;
  background: $white;
  min-height: 380px;
  @include breakpoint($bp1a) { min-height: 540px; }  
  @include breakpoint($bp2) { min-height: 600px; }  
}

.post-header {
	margin-bottom: ms(3);
}
.post-header-image {
  margin-bottom: ms(4);   
}
.post-header-row {
	display: inline-block;
	width: 100%;
  font-size: ms(-1);
  font-weight: 400;
  vertical-align: bottom;	
  padding: ms(-1) 0 ms(-2) 0;
  border-top: 1px solid $primary-offwhite;
  //&:first-child { border-top: 1px solid $primary-offwhite; }  
  p { 
  	margin-bottom: ms(-6);
  	@include breakpoint($bp1a) { margin-bottom: 0; }
  }
}
.post-header-row__label {
  font-weight: 600;
  padding-bottom: 0;
  color: $primary-gray-light;
}
.post-header-row__title {
  margin-bottom: 0;
  padding-bottom: 0;
}

// ===================================================================
// Index Header
// ===================================================================
.hello-header {
  margin-bottom: ms(2);
}

