---
layout: default
title: Trunk Club
timeframe: Summer — Fall 2015
published: 14 Jul 2017
list-summary: "Recently, I worked with The Ounce of Prevention to help translate their offline brand to the modern web."
summary: Helping Trunk Club improve their discovery experience
categories: work
header-image: ../assets/img/tc/tc-header-image.jpg
list-image: ../assets/img/tc/tc-header-image.jpg
read-next-image: ../assets/img/tc/tc-read-next.png
logo-color: "#FFFFFF"
color1: "#4D3586"
color2: "#4D3586"
---

{% include component__site-header.html %}

<article>
	<div class="l-container">
		<div class="l-post-header-image">
			<img class="post-header-image" src="../assets/img/tc/tc-header-image.jpg" />
		</div>
		<header class="post-header">
			<div class="post-header-row">
				<div class="l-post-header-row__label">
					<p class="post-header-row__label">Case Study</p>
				</div>
	   		<div class="l-post-header-row__info">
	   			<h1 class="post-header-row__title">{{ page.summary }}</h1>
	   		</div>
	   	</div>
	   	<div class="post-header-row">
				<div class="l-post-header-row__label"><p class="post-header-row__label">Timeframe</p></div>
				<div class="l-post-header-row__info">
					<p>{{ page.timeframe }}</p>
				</div>
	   	</div>
	   	<div class="post-header-row">
				<div class="l-post-header-row__label"><p class="post-header-row__label">Team</p></div>
				<div class="l-post-header-row__info">
					<p>
						<a href="https://gagesalzano.com">Gage Salzano</a>,
						<a href="https://coolstud.io/">Anthony Bruno</a>,
						<a href="http://frankymartz.com">Franky Martinez</a>,
						<a href="https://twitter.com/etroyer">Eric Troyer</a>
					</p>
				</div>
	   	</div>
		</header>

		<div class="l-column">
			<p><a href="http://www.trunkclub.com">Trunk Club</a> is a members-only service that bills itself as a smarter, more enjoyable way for people to shop for clothes. Back in 2015, <a href="http://www.nelsoncash.com">Nelson Cash</a> partnered with Trunk Club’s internal development team to help fast-track the design and front-end of their consumer-facing web app.</p>
			<p>The majority of our efforts were focused on the core content of the app: the Discover Feed. The Discover Feed is where Trunk Club stylists publish lookbook type content around seasonal trends, brands, and fashion advice. Discover content gave the stylists a platform to demonstrate their expertise to the members. It’s exactly the type of content that sets Trunk Club apart from other web-based clothing stores; so making it easy and enjoyable to browse was essential.</p>
		</div>
		<figure>
			<img class="box-shadow" src="../assets/img/tc/tc-discover-looks-desk.jpg" />
		</figure>
		<div class="l-column">
			<h2>Discover Looks</h2>
			<p>The Looks tab is composed of one-off outfits based on a specific theme. Instead of searching for the right shirt to match a jacket, Looks content provides a simple way for users to add an entire outfit to their trunk all at once.</p>
		</div>
		<figure>
			<div class="l-3up--1">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-looks-1@2x.jpg" />
			</div>
			<div class="l-3up--2">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-looks-2@2x.jpg" />
			</div>
			<div class="l-3up--3">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-looks-3@2x.jpg" />
			</div>
			<div class="l-3up--1">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-looks-4@2x.jpg" />
			</div>
			<div class="l-3up--2">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-looks-5@2x.jpg" />
			</div>
			<div class="l-3up--3">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-looks-6@2x.jpg" />
			</div>
		</figure>
		<div class="l-column">
			<h2>Discover Brands</h2>
			<p>The Brands tab provides the user with a way to browse the Trunk Club collection by brand. Brand pages include a writeup of the brand’s origin, illustrated lists of every item in stock, and a brief stylist overview of what makes the brand unique.</p>
		</div>
		<figure>
			<div class="l-3up--1">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-brand-1@2x.jpg" />
			</div>
			<div class="l-3up--2">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-brand-2@2x.jpg" />
			</div>
			<div class="l-3up--3">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-brand-3@2x.jpg" />
			</div>
		</figure>
		<div class="l-column">
			<h2>Discover Advice</h2>
			<p>The Advice tab is composed of short editorials focused on specific genres of menswear. Advice articles allowed the stylist to share helpful style tips while simultaneously promoting products from the collection.</p>
		</div>
		<figure>
			<div class="l-3up--1">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-advice-1@2x.jpg" />
			</div>
			<div class="l-3up--2">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-advice-2@2x.jpg" />
			</div>
			<div class="l-3up--3">
				<img class="box-shadow" src="../assets/img/tc/tc-discover-advice-3@2x.jpg" />
			</div>
		</figure>
		<div class="l-column">
			<p>Throughout the course of the project <a href="http://www.nelsoncash.com">Nelson Cash</a> created over 100 Invision prototypes for various Discover features. Easily the most iteration I’d ever done on a product to date, and I think the results show. I enjoyed the fast-paced sprint cycles, and the Trunk Club team’s dedication to user-testing our designs. The opportunity to re-work designs based on user tests (instead of just client feedback) was key to making our limited time with the Trunk Club team as productive as possible.</p>
			<p>At present, most of these Discover features have been rolled out, design-wise some typographic details have evolved — as you might expect — but the core thinking is still there. See for yourself at <a href="http://www.trunkclub.com">TrunkClub.com</a>.</p>
		</div>

		{% include component__sub-footer.html %}

	</div>
</article>

{% include component__site-footer.html %}
